<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/main-auth :: layout (~{::title}, ~{::section})">
<head>
    <title th:text="${'Пожалуйста, авторизуйтесь - SB Library'}"></title>
</head>
<body>
<section id="personLogin" class="mt-lg-5 px-lg-5">
    <div class="row px-lg-5 justify-content-center">
        <form class="col-lg-5 p-4 border rounded-2 bg-body-tertiary" th:method="POST"
              th:action="@{/auth/login/process}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p class="mb-4">Добро пожаловать в SB Library! Для начала работы, войдите в систему.</p>
            <div id="loginError" class="alert alert-danger mb-3 py-2" role="alert" th:if="${param.error}">
                <span>Неправильный логин или пароль</span>
            </div>
            <div id="loginInput" class="row mb-3">
                <label for="login" class="col-form-label col-sm-2">Логин:</label>
                <div class="col-sm-10">
                    <input id="login" class="form-control" type="text" name="username">
                </div>
            </div>
            <div id="passwordInput" class="row mb-3">
                <label for="password" class="col-sm-2 form-label">Пароль:</label>
                <div class="col-sm-10">
                    <input id="password" class="form-control" type="password" name="password">
                </div>
            </div>
            <input class="btn btn-outline-primary mb-3" type="submit" value="Войти">
            <p>
                <small class="fw-light">У вас нет учётной записи? <a
                        href="/auth/registration">Зарегистрироваться</a></small>
            </p>
        </form>
    </div>
</section>
</body>
</html>