<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/main :: layout (~{::title}, ~{::section})">
<head>
    <title th:text="${'Список книг - SB Library'}"></title>
</head>
<body>
<section th:replace="fragments/section :: breadcrumb(~{::.breadcrumb-item})">
    <ol>
        <li class="breadcrumb-item active" aria-current="page">Список книг</li>
    </ol>
</section>
<section id="bookList" class="table-responsive">
    <div class="mb-3 gap-2 d-lg-flex justify-content-md-end">
        <a class="btn btn-outline-success" role="button" href="/books/new">Добавить новую книгу</a>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="text-center">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Год публикации</th>
        </tr>
        </thead>
        <tbody>
        <tr class="position-relative" th:each="book : ${bookList}">
            <td><a class="stretched-link link-dark text-decoration-none"
                   th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">Book Title</a></td>
            <td th:text="${book.getAuthor()}">Author Name</td>
            <td th:text="${book.getPublishYear()}">1234</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>