<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/main :: layout (~{::title}, ~{::section})">
<head>
    <title th:text="${'Список книг - SB Library'}"></title>
</head>
<body>
<section th:replace="fragments/section :: breadcrumb(~{::.breadcrumb-item})">
    <ol>
        <li class="breadcrumb-item active" aria-current="page">Список книг</li>
    </ol>
</section>
<section id="buttonBlock" class="mb-3 gap-2 d-lg-flex justify-content-md-between">
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol th:replace="~{fragments/svg :: #search}"></symbol>
    </svg>
    <div class="row justify-content-lg-start">
        <div th:replace="~{fragments/pagination :: itemsPerPage(@{/books})}"></div>
    </div>
    <div class="row justify-content-lg-end">
        <div class="col-auto pe-1">
            <form class="row g-2" th:method="GET" th:action="@{/books/search(title=${bookTitle})}">
                <div class="col-auto">
                    <label for="bookSearch" class="visually-hidden">Book name</label>
                    <input id="bookSearch" class="form-control" type="search" placeholder="Название книги" name="title"
                           th:value="${bookTitle}"/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-secondary form-control" type="submit">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-auto ps-1">
            <a class="btn btn-outline-success" role="button" href="/books/new">Добавить новую книгу</a>
        </div>
    </div>
</section>
<section id="bookList" class="table-responsive">
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol th:replace="~{fragments/svg :: #sortAsc}"></symbol>
        <symbol th:replace="~{fragments/svg :: #sortDesc}"></symbol>
    </svg>
    <table class="table table-striped table-hover table-bordered">
        <thead class="text-center">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col" class="d-flex gap-2 justify-content-center">
                <a class="icon-link link-dark icon-link-hover icon-link-hover-down" th:if="${sortByYear}"
                   th:href="@{/books(page=${currentPage}, size=${size}, sort_by_year=false)}">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#sortDesc"></use>
                    </svg>
                </a>
                <a class="icon-link link-dark icon-link-hover icon-link-hover-down" th:if="${!sortByYear}"
                   th:href="@{/books(page=${currentPage}, size=${size}, sort_by_year=true)}">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#sortAsc"></use>
                    </svg>
                </a>
                <span>Год публикации</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="position-relative" th:each="book : ${bookList}">
            <td><a class="stretched-link link-dark text-decoration-none"
                   th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">Book Title</a></td>
            <td th:text="${book.getAuthor()}">Author Name</td>
            <td th:text="${book.getPublishYear()}">1234</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${lastPage > 0}">
        <nav th:replace="~{fragments/pagination :: tableNavigation(@{/books})}"></nav>
    </div>
</section>
</body>
</html>