<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${'Карточка книги ' + book.getTitle()}"></title>
    <style>
        .inline-block-buttons form {
            display: inline-block;
        }
        .inline-link-items a {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h3>Карточка книги</h3>
    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getPublishYear()}"></p>

    <div th:if="${book.getPersonId() == null}">
        Эта книга свободна. Кому её назначить?
        <form th:method="PATCH" th:action="@{/book/{id}/assign(id=${book.getId()})}">
            <label for="person">Выберите человека:</label>
            <select id="person" th:object="${person}" th:field="*{id}">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
            </select>
            <input type="submit" value="Назначить книгу"/>
        </form>
    </div>
    <div th:if="${book.getPersonId() != null}">
        <p th:text="${'Книга сейчас у ' + personName}"></p>
        <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Освободить книгу"/>
        </form>
    </div>
    <br/>
    <hr/>
    <div class="inline-block-buttons">
        <form th:method="GET" th:action="@{/book/{id}/edit(id=${book.getId()})}">
            <input type="submit" value="Обновить"/>
        </form>
        <form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
            <input type="submit" value="Удалить"/>
        </form>
    </div>
    <br/>
    <hr/>
    <div id="footer" class="inline-link-items">
        <a href="/">На главную</a> /
        <a href="/book/all">К списку книг</a>
    </div>
</body>
</html>