<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Реестр книг библиотеки - главная страница</title>
</head>
<body>
    <h3>Основные разделы приложения</h3>

    <ul>
        <li><a href="/people/new">Добавление нового читателя</a></li>
        <li><a href="/people">Список читателей</a></li>
        <li><a href="/book/new">Добавление новой книги</a></li>
        <li><a href="/book/all">Список книг</a></li>
    </ul>
</body>
</html>