<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/main :: layout (~{::title}, ~{::section}, ~{}, ~{})">
<head>
    <title th:text="${'Обновление данных читателя ' + person.getName()} + ' - SB Library'"></title>
</head>
<body>
<section th:replace="fragments/section :: breadcrumb(~{::.breadcrumb-item})">
    <ol>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" th:href="@{/people}">Список читателей</a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none"
               th:href="@{/people/{id}(id=${person.getId()})}">Карточка читателя</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Обновление данных читателя</li>
    </ol>
</section>
<section th:replace="fragments/section :: mainContent(~{::form})">
    <form class="py-5 px-3" th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <div id="nameInput" class="row mb-3">
            <div class="col-lg-3">
                <label for="name" class="col-form-label">ФИО:</label>
            </div>
            <div class="col-lg-6">
                <input id="name" type="text" aria-describedby="nameValidationError" class="form-control"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" th:field="*{name}"/>
                <div id="nameValidationError" class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">Error
                </div>
            </div>
        </div>
        <div id="birthdayYearInput" class="row mb-3">
            <div class="col-lg-3">
                <label for="birthdayYear" class="col-form-label">Год рождения:</label>
            </div>
            <div class="col-lg-6">
                <input id="birthdayYear" type="text" aria-describedby="birthdayYearValidationError"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('birthdayYear') ? 'is-invalid' : ''}"
                       th:field="*{birthdayYear}"/>
                <div id="birthdayYearValidationError" class="invalid-feedback"
                     th:if="${#fields.hasErrors('birthdayYear')}" th:errors="*{birthdayYear}">Error
                </div>
            </div>
        </div>
        <input class="btn btn-outline-success" type="submit" value="Обновить"/>
    </form>
</section>
</body>
</html>