<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>
<div id="itemsPerPageSelection" th:fragment="itemsPerPage(path, currentPage, size)">
    <ul class="pagination mb-0">
        <li class="page-item">
            <span class="page-link link-secondary disabled bg-white">Строк в таблице</span>
        </li>
        <li class="page-item">
            <a class="page-link link-secondary" th:classappend="${size == 5} ? disabled"
               th:href="@{{url}(url=${path}, page=${currentPage}, size=5)}">5</a>
        </li>
        <li class="page-item">
            <a class="page-link link-secondary" th:classappend="${size == 10} ? disabled"
               th:href="@{{url}(url=${path}, page=${currentPage}, size=10)}">10</a>
        </li>
        <li class="page-item">
            <a class="page-link link-secondary" th:classappend="${size == 20} ? disabled"
               th:href="@{{url}(url=${path}, page=${currentPage}, size=20)}">20</a>
        </li>
    </ul>
</div>
<nav id="tableNavigation"
     th:fragment="tableNavigation(path, previousPage, currentPage, nextPage, lastPage, pageNumbers, size)">
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol th:replace="~{fragments/svg :: #arrowLeftShort}"></symbol>
        <symbol th:replace="~{fragments/svg :: #arrowRightShort}"></symbol>
    </svg>
    <ul class="pagination justify-content-center">
        <li id="firstPage" class="page-item">
            <a class="page-link link-secondary" th:classappend="${currentPage == 0} ? 'disabled bg-white'"
               th:href="@{{url}(url=${path}, page=0, size=${size})}">
                <svg class="bi" width="16" height="16">
                    <use xlink:href="#arrowLeftShort"></use>
                </svg>
            </a>
        </li>
        <li id="previousPage" class="page-item">
            <a class="page-link link-secondary" th:classappend="${currentPage == previousPage} ? 'disabled bg-white'"
               th:href="@{{url}(url=${path}, page=${previousPage}, size=${size})}">
                <span aria-hidden="true">&#171;</span>
            </a>
        </li>
        <li class="page-item" th:attr="id='pageNumber' + ${number}" th:each="number : ${pageNumbers}">
            <a class="page-link link-secondary" th:classappend="${currentPage == number} ? disabled"
               th:href="@{{url}(url=${path}, page=${number}, size=${size})}" th:text="${number} + 1">1</a>
        </li>
        <li id="nextPage" class="page-item">
            <a class="page-link link-secondary" th:classappend="${currentPage == nextPage} ? 'disabled bg-white'"
               th:href="@{{url}(url=${path}, page=${nextPage}, size=${size})}">
                <span aria-hidden="true">&#187;</span>
            </a>
        </li>
        <li id="lastPage" class="page-item">
            <a class="page-link link-secondary" th:classappend="${currentPage == lastPage} ? 'disabled bg-white'"
               th:href="@{{url}(url=${path}, page=${lastPage}, size=${size})}">
                <svg class="bi" width="16" height="16">
                    <use xlink:href="#arrowRightShort"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>